$mainTextColor: #191919;
$footerBackgroundColor: #191919;
$footerPColor: #797979;
$secondryColor: #ffe7ac;
$servicesColor: #f1effd;
$servicesTextPColor: #4c4c4c;
$specialColor: #fec430;
$welcomeTextColor: #a5a5a5;
$footerColor: #191919;
$backgroundColorSays: #f1effd;
$footerTextColor: #fff9ea;
$activeColor: #46368b;
$navigationColor: #755ae8;
$blackColor: #000000;
$whiteColor: #ffffff;
$special-title-pColor: #a5a5a5;
$special-title-h2Color: #191919;
$colorTextTravelsSection: rgb(121, 121, 121);
$transparent: transparent;
