$transition: 0.45s;
$radius-5: 5px;
$radius-6: 6px;
$radius-7: 7px;
$radius-15: 15px;
$radius-25: 25px;
$radius-O: 50%;
$radius-50: 50px;
$p-100: 100px 0;
$p-60: 60px 0;
$p-header: 25px 0;
$pRL-25: 25px;
$font-47: 47px;
$font-30: 30px;
$font-20: 20px;
$font-18: 18px;
$font-68: 68px;
$font-24: 24px;
$gap-40: 40px;